.title {
    font-family:fantasy;
    font-size: 30px;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.titlename{
    margin-left: auto;
}

.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%; /* Adjust this width as needed */
    margin: auto; /* centres the gridcontainer horizontally */
  }
  
.grid {
    box-sizing: border-box;
    /* 25% width for each box with 2px margin */
    width: calc(6.25% - 2px);
    height: 0;
    /* 25% width for each box with 2px margin */
    padding-bottom: calc(6.25% - 2px);
    margin: 1px; /* Margin for spacing between boxes */
    background-color: #ccc; /* Background color for the grid boxes */
    border: 1px solid #000; /* Border for the grid boxes */
  }